# Ignore all.
/*
/*/
.log
.swp
.DS_Store

# Includes
!.gitignore
!.gitkeep
!.vimrc
!caravan
!/burden/
!/core/
!/task/

# Excludes
/burden/.vim/init.vim
/burden/.vim/plugged/
/burden/.vim/log/
/burden/.mysh/autoload/*
!/burden/.mysh/autoload/.gitignore
!/burden/.mysh/autoload/README
